@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Lobster');
/*font-family: 'Lobster', cursive;**/
*{
  margin: 0;
  padding: 0;
}

/** cores
Cinza rgb(35,42,50);
marrom logo  rgb(209,167,124);
branco font color: rgb(255,255,253);
*/
/*animações**/
@keyframes spin { 100% { -webkit-transform: rotateY(360deg); transform:rotateY(360deg); } }
@keyframes fadeIn { from {opacity: 0} to {opacity: 100%} }
body{
  font-size: 100%;
  background-image: url(../images/3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  color: rgb(255,255,220);
}
header{
  height: 15vh;
  width:87%;
  padding: 1em;
  text-align: center;
  box-sizing: border-box;
  float: right;
}

h1{
  text-indent: -3000px;
  width: 0;
  height: 0;
  display: inline-block;
}

header p{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5em;
  text-shadow: 2px 4px rgba(0, 0, 0, 0.2);
}

span{
  font-weight: bolder;
}

nav{
  width: 13%;
  height: 100vh;
  background-color: rgb(35,42,50);
  float: left;
  position: absolute;
}

main{
    width: 87%;
    height:85vh;
    padding: 1em;
    box-sizing: border-box;
    float: right;
}
section{
  height: 82.5vh;
  width: 100%;
}
section{
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
  margin-left: -1em;
  text-align: justify;
  box-sizing: border-box;
  animation:fadeIn 1s linear 1;
  display: none;
}
.sectionHome{
    background-image:  url(../images/bgSectionWelcome.png);
}
.sectionSobre{
    background-image:  url(../images/bgSectionSobre.png);
}
.section p{
  position: relative;
  width: 60%;
  margin-left: 42%;
  padding-top: 2em;
  font-size: 3.5rem;
  font-family: 'Montserrat', sans-serif;

}
.sectionHome span{
  text-decoration: underline;
    text-shadow: 2px 4px rgba(0, 0, 0, 0.1);
}
.sectionHome span~span{
  animation:spin 3s ease-out 1s 1;
  position: absolute;
  margin-left: 0.4rem;
  text-decoration: overline;

}

.sectionSobre p{
  font-size: 1.5rem;
  width: 40%;
  line-height: 2rem;
  margin-left: 55%;
  text-align: right;
}
nav .logo{
  width: 70%;
  display: block;
  margin: 0 auto;
}


.socialLogo{
  width: 17%;
  margin-top: -0.4em;

}
.boxSocialLogo{
  margin-top: 4rem;
}
.boxSocialLogo:hover{
  background-color:rgb(209,167,124);
  width: 105%;
  box-shadow: 0px 4px rgba(0,0,0,0.3);
}

ul{
  list-style: none;
  margin-top: 2em;

}
li, .boxSocialLogo{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 1.3em;
    height: 3.5em;
    padding-top: 1.3em;
    box-sizing: border-box;
    color: rgb(255,255,210);
}

li:hover{
  cursor: pointer;
}

.liAtiva{
  background-color: rgb(209,167,124);
  box-shadow: 0px 4px rgba(0,0,0,0.3);
  width: 105%;
}
a{
    text-decoration: none;
    color: rgb(255,255,255);
}
a:hover{
    color: rgb(205,205,205);
}

.logoTq{
  position: absolute;
  width: 20%;
  left: 78%;
  top:89vh;
}
.ativa{
  display: block;
}
