@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Lobster');
/*font-family: 'Lobster', cursive;**/
*{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

/** cores
Cinza rgb(35,42,50);
marrom logo  rgb(209,167,124);
branco font color: rgb(255,255,253);
*/
/*animações**/

@keyframes fadeIn { from {opacity: 0} to {opacity: 100%} }
body{
  font-size: 100%;
  background-image: url(../images/3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  color: rgb(255,255,220);
}
button{display: none;}
header{
  height: 15vh;
  width:87%;
  padding: 1em;
  text-align: center;
  box-sizing: border-box;
  float: right;
}

h1, h2{
  text-indent: -3000px;
  width: 0;
  height: 0;
  display: inline-block;
}

header p{
  font-size: 2.5em;
  text-shadow: 2px 4px rgba(0, 0, 0, 0.2);
}

span{
  font-weight: bolder;
}

nav{
  width: 13%;
  height: 100vh;
  background-color: rgb(35,42,50);
  float: left;
  position: absolute;
}

main{
    width: 87%;
    height:85vh;
    padding: 1em;
    box-sizing: border-box;
    float: right;
}
section{
  height: 82.5vh;
  width: 100%;
}
section{
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
  background-image:  url(../images/bgHome.png);
  margin-left: -1em;
  text-align: justify;
  box-sizing: border-box;
  animation:fadeIn 1s linear 1;
  display: none;
}

.sectionContato{
    background-color: #6599dc;
    width: 102.5%
}
section p{
  position: relative;
  width: 60%;
  margin-left: 42%;
  padding-top: 2em;
  font-size: 3.5rem;
}
.sectionHome span{
  text-decoration: underline;
    text-shadow: 2px 4px rgba(0, 0, 0, 0.1);
}


.sectionSobre p{
  font-size: 1.5rem;
  width: 40%;
  line-height: 2rem;
  margin-left: 55%;
  text-align: right;
}

.sectionLocalizacao iframe{
  width: 100%;
  height: 40vh;
  margin-top: 2rem
}
.sectionLocalizacao{
  padding: 0 0 0 2rem;
  text-align: left;
}
.sectionLocalizacao p{
  position: inherit;
  text-align: left;
  margin: 0;
  font-size: 2rem;
  padding-top: 1rem;
}
.sectionGaleria{
  padding: 0 0 0 1.5rem;
}
#instafeed a{
  margin-right: 0.3rem;
}
#instafeed a:hover{
  filter: sepia();
}

.sectionContato table{
  width: 40%;
  font-size: 1.5em;
  margin-right: 12rem;
  margin-top: 6rem;
  float: right;
}
caption{
  text-align: left;
}
nav .logo{
  width: 70%;
  display: block;
  margin: 0 auto;
}


.socialLogo{
  width: 17%;
  margin-top: -0.4em;

}
.socialBox{
  width: 15%;
  margin-left: 85%;
  margin-top: 18rem;
  clear: both;
}

.socialBox img{
  width: 25%;
}


ul{
  list-style: none;
  margin-top: 2em;

}
li{
    text-align: center;
    font-size: 1.3em;
    height: 3.5em;
    padding-top: 1.3em;
    box-sizing: border-box;
    color: rgb(255,255,210);
}

li:hover{
  cursor: pointer;
}

.liAtiva{
  background-color: rgb(209,167,124);
  box-shadow: 0px 4px rgba(0,0,0,0.3);
  width: 105%;
}
a{
    text-decoration: none;
    color: rgb(255,255,255);
}
a:hover{
    color: rgb(205,205,205);
    cursor: pointer;
}

.logoTq{
  position: absolute;
  width: 20%;
  left: 78%;
  top:89vh;
}
.ativa{
  display: block;
}
