.mySlides {
	display: none;
	width:100%;
	margin:0;	
}
 

/* Slideshow container */
.slideshow-container {
  position: relative;
  width:100%;
  top: 0;
  padding:0;
  margin-bottom: 20px;
  box-sizing: border-box;
  background-color: black;
}
.slideshow-container img{
	height: 413px;
	object-fit: cover;
	width: 100%;
	margin:0;
	padding:0;
}

/* Caption text */
.text {
 
  font-size: 15px;
  padding: 8px 0;
  width: 50%;
  margin: auto;
  text-align: center;
 
}

/* Number text (1/3 etc) */
.numbertext {

  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color:rgba(153,131,93,1);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
 background-color:  rgb(226,221,213);
}

.containerdot{
	width: 50%;
	margin: auto;
	text-align: center;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}